.textarea-code {
    background-color: #18181b; 
    color: #cbd5e1;
    font-size: 1.25rem; 
    padding: 2rem;
    display: block; 
    height: 100%; 
    width: 100%; 
    outline: none; 
    resize: none;
}